<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
 
  <title>Create New Post</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: sandybrown; display: flex; flex-direction:column; justify-content:space-between; align-items:center; padding: 10px 10px;">
  <h1>Create New Post</h1>
  <form action="/posts" method="POST">
    <label for="title" style="margin: 13px;">Title:</label>
    <input type="text" id="title" name="title" style="margin-top: 15px;"><br>
    <label for="content">Content:</label>
    <textarea id="content" name="content" style="margin-top: 15px; resize: none; height:120px;"></textarea><br>
    <button type="submit" style="margin-top:20px; margin-left:110px; background-color:rgb(29, 167, 84); border: 1px solid;">Create</button>
  </form>
</body>
</html>