<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
 
  <title>Edit Post</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: sandybrown; display: flex; flex-direction:column; justify-content:center; align-items:center; padding: 10px 10px;">
  <h1>Edit Post</h1>
  <form action="/posts/{{post.id}}/edit" method="POST">
    <label for="title" style="margin:13px;">Title:</label>
    <input type="text" id="title" name="title" value="{{post.title}}" style="margin-top: 15px;"><br>
    <label for="content">Content:</label>
    <textarea id="content" name="content" style="margin-top:15px; resize:none; height:120px;">{{post.content}}</textarea><br>
    <button type="submit" style="margin-top:20px; margin-left:95px; background-color:rgb(40, 118, 236); border: 1px solid;">Apply Change</button>
  </form>
</body>
</html>