<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog</title>
</head>
<body>
  <h1>Blog</h1>
  <ul>
    {{#each posts}}
      <li>
        <a href="/posts/{{id}}">{{title}}</a>
      </li>
    {{/each}}
  </ul>
  <a href="/posts/create">Create New Post</a>
</body>
</html>