*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
  
}
body{
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: sandybrown;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:column;
}

.container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}

a{
  text-decoration: none;
  color: black;
}